<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <ul>
            <li>
                <a href="{{ path('homepage') }}"> Home </a>
            </li>
            {% if app.user is null %}
                <li>
                    <a href="{{ path('login') }}"> Login </a>
                </li>
                <li>
                    <a href="{{ path('user_registration') }}"> Register </a>
                </li>
            {% else %}
                {% if app.user.calendar is null %}
                    <li>
                        <a href="{{ path('calendar_create') }}"> Create Calendar </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('calendar_edit') }}"> Edit Calendar </a>
                    </li>
                    <li>
                        <a href="{{ path('calendar_show') }}"> Show Calendar </a>
                    </li>
                {% endif %}
                <li>
                    <a href="{{ path('working_hours_list') }}"> My Working Hours </a>
                </li>
                <li>
                    <a href="{{ path('logout') }}"> Logout </a>
                </li>
            {% endif %}
        </ul>

        {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
