{% extends "::base.html.twig" %}

{% block title %}AppBundle:Calendar:show{% endblock %}

{% block body %}
    <h1>Welcome to the Calendar:show page</h1>

    <div id='calendar'></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css') }}">
    <link rel="stylesheet" href="{{ asset('//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css') }}" media='print'>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('https://code.jquery.com/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js') }}"></script>
    <script src="{{ asset('//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js') }}"></script>


    <script>
        $(document).ready(function() {

            // page is now ready, initialize the calendar...

            var calendarId = {{ calendar.id }};
            var calendar = $('#calendar').fullCalendar({
                eventSources: [

                    // your event source
                    {
                        url: "{{ path('booking_load') }}",
                        type: 'GET',
                        data: {
                            id: calendarId
                        },
                        error: function() {
                            alert('there was an error while fetching events!');
                        },
                    }

                    // any other sources...

                ],
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                defaultView: 'agendaWeek',
                select: function(start) {
                    var title = prompt('Enter Your Name:');
                    if (title) {
                        var calendarId = {{ calendar.id }};

                        $.ajax({
                            method: "POST",
                            url: "{{ path('booking_create') }}",
                            data: {
                                note: title,
                                startTime: start.format('YYYY-MM-DD hh:mm:ss'),
                                calendar: calendarId

                            },
                            error: function(data){
                                var error = JSON.parse(data.responseText);
                                alert(error.message);
                            }
                        })
                        .done(function( data ) {
                            calendar.fullCalendar('renderEvent',
                                {
                                    title: data.title,
                                    start: data.startTime,
                                    end: data.endTime,
                                    allDay: false
                                },
                                true // make the event "stick"
                            );
                            calendar.fullCalendar('unselect');
                        })
                    }
                },
                scrollTime: '00:00:00',
                editable: true,
                selectable: true,
                droppable: true, // this allows things to be dropped onto the calendar
                eventLimit: true, // allow "more" link when too many events
                events: [

                    {% for hours in calendar.workingHours %}
                        {% if loop.first %}
                            {% set startTime = "00:00:00" %}
                        {% endif %}

                        {% set endTime = hours.startTime|date('H:i:s') %}

                        {
                            start: '{{ startTime }}',
                            end: '{{ endTime }}',
                            color: 'gray',
                            rendering: 'background',
                            dow: [{{ hours.weekDays|join(',') }}]
                        },

                        {% set startTime = hours.endTime|date('H:i:s') %}

                        {% if loop.last %}
                            {% set endTime = "24:00:00" %}

                            {
                                start: '{{ startTime }}',
                                end: '{{ endTime }}',
                                color: 'gray',
                                rendering: 'background',
                                dow: [{{ hours.weekDays|join(',') }}]
                            }
                        {% endif %}
                    {% endfor %}
                ]
            });
        });
    </script>
{% endblock %}